ul{
    display: flex;
    padding: 10px;
    margin: 0;
    justify-content: space-evenly;
    text-decoration: none ;
    list-style-type: none;
    background-color: #9EDF9C;

}
li{
    cursor: pointer;
    padding : 3px;
}
li:hover{
    background-color: #FFF7D1;
    color: white;
    border-radius: 5px;
    
}